.container{
    /* border: 1px solid black; */
    position: relative;
    display: flex;
    /* width: 80%; */
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-items: center;
    /* position: relative; */
    /* top: 10rem; */
    /* padding: 10px; */
    margin: 5px;
  }