.dropOption{
    /* border: 0.5px #dedbd9 solid; */
    z-index: 1;
    background-color: #efe9e6;
    width: 100%;
    margin: 0px;
    padding:10px 0px 10px 0px;
    box-shadow: 2px 2px 7px -4px rgba(0, 0, 0, 0.25);
}

.dropOption:hover{
    cursor: pointer;
    background-color:  #d2cdcc;
}