.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content{
  display: flex;
  position: relative;
  top: 6rem;
  /* border: 10px solid black; */
  flex-direction: row ;
  height: 40em;
  margin: 1rem;
}

.container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* border: 2px solid black; */
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
}

.sidebar{
  /* border: 1px solid red; */
  /* display: flex; */
  /* height: 200%; */
  position: relative;
  top: 5rem;
}

